main {
    display: flex;
  }
aside {
    flex: 30%;
    padding: 20px;
    flex-wrap: wrap;
  }
  section {
    flex: 70%;
    background-color: #fff;
    padding: 20px;
  }
  section :hover{

  }
  
  @media screen and (max-width: 992px) {
   
  }
  
  @media screen and (max-width: 768px) {
    
  }
  
  @media screen and (max-width: 576px) {
    
  }
  